body{
    background-color: #00478B;
    font-size: em;
}

body:text{
    color: #ffffff;
}

a:link{
    color: #ffff00;

}

a:text{
    color: #EDEDED;

}

h1, h2{
    font-family: 'Goblin One', cursive;
    color: #EDEDED;
}

nav{
    background-color: #0E323D;
    padding: 10px;
    margin-bottom: 30px;
}

nav a{color: #EDEDED;}

nav a:hover {background-color: #920000;}

@media only screen and (max-width: 920px){
    nav a{ max-width: 100%; display: block; padding: 10px;}
    span{
        display: none;
    }
}

